.site-container{
    text-align: center;
}
html{
    font-size: 14px;
}
body{
    line-height: 1.5;
    color:black;
    margin:0;
}
a:not[href]:not([tabindex]){
    color:inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover:not([href]):not([tabindex]){
    color:inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus{
    outline: none;
}
ul{
    list-style: none;
}
img{
    vertical-align:middle ;
    border-style: none;
}
a{
    background-color: transparent;
    text-decoration: none;
}
.nav{
    background-color: #eee;
    padding: 0.5rem;
    border-bottom: 1px solid #989898;
    text-align: center;
    min-height: 50px;
    margin-bottom:1.5rem ;
}
.nav-title{
    margin-bottom: 0;
    width:100%;
}
.nav-btn{
    position: absolute;
    top:2rem;
    background-color: black;
    color: white;
    font-weight: bold;
    right:1rem;
    padding:10px;
}
.block{
    margin-bottom: 1.5rem;
    border:1px solid #DEDEDE;
    border-radius: 0.2rem;
    padding: 10px;
}
.customer-info{
    text-align: left;
}
.text{
}
.grid{
    display:block;
    clear:both;
}
.order-info{
    border-color:grey;
    background-color: #eee;
    height:100px;
}
.grid .one-third{
    width:30%;
    float:30%;
    padding-right:10px;
}
.custom-checkbox{
    position:absolute;
    left:1rem;
    border:yellow;
}
.product-arrow{
    position:absolute;
    right:1rem;
    font-size: 40px;
}